* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 530px;

  margin: auto;
  margin-top: 100px;
  border-radius: 24px;
  border: solid 1px rgb(230, 228, 228);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.container p {
  opacity: 60%;
  height: 19px;
}

.card {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
  border-bottom: solid 0.5px rgb(242, 241, 241);
}

.score {
  width: 128px;
  display: flex;
  gap: 10px;
}
.score button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 0.2px rgb(235, 233, 233);
  background-color: white;
  font-weight: 700;
  font-size: 20px;
}
span {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  align-items: center;
}
.resetBtn {
  display: flex;
  gap:20px;
  justify-content: end;

}
.resetBtn button {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #14b166;
  color: white;
}
